# Semana 07
Daniel Carhuancho Almanza

Temas:
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de Datos por el Teclado
5. Operaciones

 3. Manejo de Cadenas

In [4]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [5]:
#Universidad Nacional Tecnologica de Lima sur
#0.123456...
#                            -2-1

In [6]:
cadena[5]

'r'

In [7]:
cadena[10]

'd'

In [8]:
#Tambien considera los espacios
cadena[11]

' '

In [9]:
#¿Que se mostrara?
cadena[-5]

'a'

In [10]:
cadena [21]

'T'

In [11]:
#Tambien puedo mostrar acediendo de manera inversa
cadena[-23]

'T'

In [12]:
#Para mostrar una subcadena (desde, hasta una nates)
#En java era subtring()
cadena[3:18]

'versidad Nacion'

In [13]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [14]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [15]:
# Ojo ... Solo muestra, porque

In [16]:
# Para mostrar una cadean en mimnuscual utilizamos lowe()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [17]:
#Generar una lista a partir de una cadena. split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [18]:
#Generar una lista  utilizando un criterio de separacion a partir de una cadena split()
#En este caso vamos a generar una lista de toda la cadean
#Utilizando como criterio de separacion la letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [19]:
#Forma clasica, concretar con +
nombre = "Daniel Carhuancho"
print ("Buenas tardes "+ nombre)

Buenas tardes Daniel Carhuancho

In [1]:
#Utilizando el.format()
nombre="Daniel Carhuancho"
edad = 20
print ("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Daniel Carhuancho ya se que tienes 20 años

In [25]:
# Dar formato a numeros con muchos decimales
resultados = 10/3
print("10/3 es = {}".format(resultados))
print("10/3 es = {r:1.3f}".format(r=resultados))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [2]:
#Dar formato con f
# La funcion f, esta disponible desde la version 3.6
nombre = "Daniel carhuancho"
edad = 20
print (f"buenos dias {nombre}, ya se que tienes {edad} años")

buenos dias Daniel carhuancho, ya se que tienes 20 años

In [30]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333