# Semana 07
Daniel Carhuancho Almanza

Temas :
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de Datos por el Teclado
5. Operaciones

5 .Operaciones

In [15]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [14]:
numero1 = 1000
numero2 = 10
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

1010
990
10000
100.0
0
100
1000000000000000000000000000000

In [9]:
#5.2 Operadores de asignacion 
# Se iene : =,+=,-=,*= , /= , **=
numero= 5
numero = numero + 3
print (numero)

8

In [10]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [11]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [12]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [13]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [16]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [17]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [18]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [19]:
numero1 < numero2

True

In [20]:
# El not invierte el resultado
not(numero1<numero2)

False

In [21]:
numero1<numero2 and numero3<numero4

True

In [22]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [26]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [27]:
# Miremos un ejemplo:

aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [28]:
# ¿Diego está en aula?
alumno1 in aula

False

In [29]:
# ¿Juan está en aula?
alumno2 in aula

True

In [30]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [31]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [32]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [33]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [34]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [35]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [36]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [37]:
aula1.append("Diego")

In [38]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [39]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [40]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']